.root{
    -fx-font-family: "Droid Serif";
}

.lable, .text-field {
    -fx-font-family: consolas;
}

.top-bar {
    -fx-background-color: #7f003f;
}

.button-control {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-text-fill: #fff;
    -fx-border-color: #ff5656;
}

.button-control:hover {
    -fx-background-color: #ff7f00;
}


.table-view .table-column {
    -fx-font-size: 13.0;
}

.background-pane {
    -fx-background-color: #fff;
}

.table-view .column-header .label{
    -fx-alignment: center;
}