
@font-face {
    font-family: "Source Code Pro";
    src: url("fonts/SourceCodePro-VariableFont_wght.ttf");
}


.root{
    -fx-font-family: "Arial";
}

.label, .text-field {
    -fx-font-family: arial;
}
.top-bar {
    -fx-background-color: #7f003f;
}

.button-control {
    -fx-background-color: transparent;
    -fx-border-width: 1.5px;
    -fx-border-radius: 8px;
    -fx-text-fill: #000;
    -fx-border-color: #ff5656;
}

.button-control:hover {
    -fx-background-radius: 8px;
    -fx-background-color: #ff7f00;
}


.table-view .table-column {
    -fx-font-size: 13.0;
}

.background-pane {
    -fx-background-color: #fff;
}

.table-view .column-header .label{
    -fx-alignment: center;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 1.25pt 0 1.25pt;
}


.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}
.tab-pane {
    -fx-tab-height: 3em;
    -fx-tab-max-width: 100pt;
    -fx-tab-min-width: 50pt;
    -fx-tab-padding: 2 5 2 5;
}

.text-area {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 15px;
    -fx-text-fill: #00FF00;
    -fx-control-inner-background: #000000;
    -fx-background-color: #000000;
    -fx-padding: 10px;
    -fx-line-spacing: 5px; /* nếu dùng JavaFX >=17 */
    -fx-highlight-fill: #00AA00;
    -fx-highlight-text-fill: black;
    -fx-border-color: #00FF00;
    -fx-background-radius: 5px;
}

.text-field, .cmd-button {
    -fx-font-family: "Source Code Pro";
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #1e1e1e;
    -fx-border-color: #00FF00;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 8px;
}

#tfInputCmd {
    -fx-text-fill: #FFFFFF;
}

#tfTitle {
    -fx-background-color: transparent;
}
